body {
    margin-bottom: 0;
    overflow: hidden;
    background-color: #222;
    color: #ddd !important;
    height: 100vh;
}

.btn {
    color: #ddd;
}

.main-container {
    padding-left: 16px;
}

.agenda {
    padding-left: 16px;
}

#main-video-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.video-grid {
    display: flex;
    margin-bottom: 12px;
}

.video-grid video {
    width: 100%;
    object-fit: cover;
}

.video-thumbnail {
    /*display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));*/
    display: flex;
    flex: 1;
    /*max-height: 50%;
    max-width: 50%;*/
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    height: 100%;
}

    .video-thumbnail video {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
        /*aspect-ratio: 1;
        grid-area: 1/1/2/2;*/
        /*margin-left: -25%;*/
    }

    .video-thumbnail .controls {
        /*position: absolute;
        bottom: 0;
        width: 100%;*/

        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        max-width: 100%;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 6px 6px 6px 8px;
        font-size: 10pt;
    }

    .video-thumbnail .controls .name {

    }

        .video-thumbnail .controls .icons {
            display: flex;
            flex: 1;
            justify-content: flex-end;
        }

        .video-thumbnail .controls .icons .icon {
            margin-right: 6px;
            font-size: 18px;
            cursor: pointer;
        }

        /*.video-thumbnail .controls .icons {
            position: absolute;
            bottom: 0;
            width: 100%;
            max-width: 100%;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 4px 4px 4px 8px;
            font-size: 10pt;
        }*/

#video-controls {
    margin-left: auto;
    height: 48px;
    width: 25%;
    margin-right: auto;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 24px;
    align-items: center;
}

    #video-controls .icon {
        height: 36px;
        width: 36px;
        cursor: pointer;
        margin-left: 16px;
        margin-right: 16px;
    }

#video-controls .icon:hover {
    opacity: 0.7;
}

    #video-controls .icon span {
        font-size: 32px;
        vertical-align: middle;
    }

.icon-disabled {
    color: #F44336;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 8px;
    color: #000 !important;
}

.chat-header {
    height: 48px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    font-weight: 500;
    font-size: 18px;
}

#chat-conversation {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#chat-conversation ::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

#chat-conversation .remote-message, #chat-conversation .remote-message {
    margin-top: 4px;
}

#chat-conversation .remote-message {
    text-align: right;
}

#new-message {
    display: flex;
    flex: 1;
    border: none;
}

#send-message {
    display: flex;
    padding: 6px 8px;
    cursor: pointer;
    color: blue;
}


    #send-message:hover {
        background-color: #ddd;
        border-radius: 0.25em;
    }

.chat-input {
    display: flex;
    align-items: center;
    background: #eee;
    color: black;
    border-radius: 8px;
    padding: 0 16px;
}

    .chat-input input {
        background: #eee !important;
    }

.local-screen {
    max-height: 100%;
    max-width: 100%;
}

.local-screen video {
    max-height: 100%;
    max-width: 100%;
}

.local-user-thumbnail {
    display: flex;
    /*justify-content: center;*/
    max-height: 100%;
    max-width: 100%;
}

    .local-user-thumbnail video {
        height: 100%;
        /*width: 75%;*/
        object-fit: cover;
        /*border: 2px solid #bbb;*/
        border-radius: 12px;
    }

.remote-screen {
    max-width: 100%;
    max-height: 100%;
}

#timer {
    justify-content: flex-end;
}

.side-column {
    /*position: absolute;
    right: 0;
    height: 100%;
    transition: all ease .15s;
    margin-right: 8px;*/
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.side-column.col-0 {
    /*right: -25%;*/
}

.col-0 {
    /*width: 0% !important;*/
}

.local-message {
    padding-left: 1rem;
}

.remote-message {
    padding-right: 1rem;
}

#transcript-header {
    cursor: pointer;
}

#transcript-header:hover {
    text-decoration: underline;
}

#transcript {
    max-height: 150px;
    overflow: scroll;
}

.toast {
    color: black !important;
}